<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Não Jubila!</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <center><%= image_tag("logo/5.png")%></center>

  <div class="row">

    <!-- Page Content -->
    <div class="container">
     

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">

           <center> <h1> Projeto Não Jubila! </h1> </center>
            <p align="justify"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; O site Não Jubila! tem o intuito de ajudar outras pessoas que estão precisando daquele material que você já conseguiu, ajude e seja ajudado. Acreditamos que compartilhando conhecimento, contribuimos para a educação e crescimento de novos profissionais. Assim, pessoas que não tem acesso a acervos e grandes bibliotecas podem de maneira fácil e rápida ter todo o conteúdo necessário para seu crescimento acadêmico e profissional. </p>

            <p align="justify"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ajude um desesperado, você poderá estar como ele daqui há alguns semestres!</p>
        </header>

        </div>


        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                  <center>  <p>Copyright &copy; Não Jubila! 2016</p> </center>
                </div>
            </div>
        </footer>

    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>