<div class="container">

        <h2>Editar Postagem</h2>
        <hr>
    <!-- Jumbotron Header -->
    <header class="jumbotron">
		 <%= render 'form' %>
		 <p></p>
		 <%= link_to "Cancelar", post_path, class: "btn btn-primary" %>
    </header>


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <p>Copyright &copy; Não Jubila! 2016</p>
            </div>
        </div>
    </footer>
</div>


<%= render 'form' %>

%h1 Edit Post

= render 'form'

= link_to "Cancelar", post_path